In [1]:
import pyspark
from pyspark.sql import SparkSession

spark=SparkSession.builder.appName('dataframes').getOrCreate()

In [5]:
# df_pyspark=spark.read.option('header','true').csv('test1.csv',inferSchema=True)
# df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [2]:
df_pyspark=spark.read.csv('test1.csv',header=True,inferSchema=True)
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [3]:
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [4]:
df_pyspark.head(5)

[Row(Name='Krish', age=31, Experience=10, Salary=30000),
 Row(Name='Sudhanshu', age=30, Experience=8, Salary=25000),
 Row(Name='Sunny', age=29, Experience=4, Salary=20000),
 Row(Name='Paul', age=24, Experience=3, Salary=20000),
 Row(Name='Harsha', age=21, Experience=1, Salary=15000)]

In [5]:
df_pyspark.select(['Name','age','Experience']).show()

+---------+---+----------+
|     Name|age|Experience|
+---------+---+----------+
|    Krish| 31|        10|
|Sudhanshu| 30|         8|
|    Sunny| 29|         4|
|     Paul| 24|         3|
|   Harsha| 21|         1|
|  Shubham| 23|         2|
+---------+---+----------+

In [11]:
df_pyspark['Name']

Column<'Name'>

In [12]:
df_pyspark.dtypes

[('Name', 'string'), ('age', 'int'), ('Experience', 'int'), ('Salary', 'int')]

In [15]:
df_pyspark.describe().show()

+-------+------+------------------+-----------------+------------------+
|summary|  Name|               age|       Experience|            Salary|
+-------+------+------------------+-----------------+------------------+
|  count|     6|                 6|                6|                 6|
|   mean|  NULL|26.333333333333332|4.666666666666667|21333.333333333332|
| stddev|  NULL| 4.179314138308661|3.559026084010437| 5354.126134736337|
|    min|Harsha|                21|                1|             15000|
|    max| Sunny|                31|               10|             30000|
+-------+------+------------------+-----------------+------------------+

In [7]:
# lets add a column to the existing dataframe
df_pyspark=df_pyspark.withColumn('Salary Increment',df_pyspark['Salary']+2000)
df_pyspark.show()

+---------+---+----------+------+----------------+
|     Name|age|Experience|Salary|Salary Increment|
+---------+---+----------+------+----------------+
|    Krish| 31|        10| 30000|           32000|
|Sudhanshu| 30|         8| 25000|           27000|
|    Sunny| 29|         4| 20000|           22000|
|     Paul| 24|         3| 20000|           22000|
|   Harsha| 21|         1| 15000|           17000|
|  Shubham| 23|         2| 18000|           20000|
+---------+---+----------+------+----------------+

In [9]:
# lets drop the added column
df_pyspark=df_pyspark.drop('Salary Increment')
df_pyspark.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [10]:
# lets rename a column
df_pyspark.withColumnRenamed('Name','First Name').show()

+----------+---+----------+------+
|First Name|age|Experience|Salary|
+----------+---+----------+------+
|     Krish| 31|        10| 30000|
| Sudhanshu| 30|         8| 25000|
|     Sunny| 29|         4| 20000|
|      Paul| 24|         3| 20000|
|    Harsha| 21|         1| 15000|
|   Shubham| 23|         2| 18000|
+----------+---+----------+------+