In [1]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('FilterAggregate').getOrCreate()

df_pyspark=spark.read.csv('test3.csv',header=True,inferSchema=True)
df_pyspark.show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

In [8]:
# filter salary less than 20000
df_pyspark.filter("salary>=10000").show()

df_pyspark.filter("salary>=10000").select(['Name','salary']).show()

df_pyspark.filter(df_pyspark['salary']>=10000).show()

df_pyspark.filter((df_pyspark['salary']>=5000) | 
                  (df_pyspark['salary']<=20000)).show()

df_pyspark.filter(~(df_pyspark['salary']<=20000)).show()
df_pyspark.filter(~(df_pyspark['salary']<=15000)).show()

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|    Sunny|Data Science| 10000|
+---------+------------+------+

+---------+------+
|     Name|salary|
+---------+------+
|    Krish| 10000|
|Sudhanshu| 20000|
|Sudhanshu| 10000|
|    Sunny| 10000|
+---------+------+

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|    Sunny|Data Science| 10000|
+---------+------------+------+

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|    Krish|Data Science| 10000|
|    Krish|         IOT|  5000|
|   Mahesh|    Big Data|  4000|
|    Krish|    Big Data|  4000|
|   Mahesh|Data Science|  3000|
|Sudhanshu|Data Science| 20000|
|Sudhanshu|         IOT| 10000|
|Sudhanshu|    Big Data|  5000|
|    Sunny|Data Science| 10000|
|    Sunny|    Big Data|  2000|
+---------+------------+------+

+----+-----------+------+
|Name|Departments|salary|
+----+-----------+------+
+----+-----------+------+

+---------+------------+------+
|     Name| Departments|salary|
+---------+------------+------+
|Sudhanshu|Data Science| 20000|
+---------+------------+------+

In [14]:
# Aggregation

# find the maximum salary
df_pyspark.groupBy('Name').sum().show()

# finding average
df_pyspark.groupBy('Name').avg().show()

# lets find total salary by departments
df_pyspark.groupBy('Departments').sum().show()

# lets find average salary by departments
df_pyspark.groupBy('Departments').mean().show()

# lets find how many people working for a department
df_pyspark.groupBy('Departments').count().show()

# total salary paid by all departments
df_pyspark.agg({'salary':'sum'}).show()

+---------+-----------+
|     Name|sum(salary)|
+---------+-----------+
|Sudhanshu|      35000|
|    Sunny|      12000|
|    Krish|      19000|
|   Mahesh|       7000|
+---------+-----------+

+---------+------------------+
|     Name|       avg(salary)|
+---------+------------------+
|Sudhanshu|11666.666666666666|
|    Sunny|            6000.0|
|    Krish| 6333.333333333333|
|   Mahesh|            3500.0|
+---------+------------------+

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

+-----------+
|sum(salary)|
+-----------+
|      73000|
+-----------+